/* General Styles */
body {
    background-image: url('MAinbackgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'UnifrakturMaguntia', cursive;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-y: scroll;
}

header, footer {
    padding: 1rem;
    margin: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 5px;
}

/* Main Content */
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.hero {
    text-align: center;
    margin: auto;
}

.logo h1 {
    font-size: 5rem;
    margin: 0;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero p {
    margin: 1rem 0;
    max-width: 800px;
    margin: auto;
}

.hero-buttons {
    margin-top: 1rem;
}

.hero-buttons .enter-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Featured Hero Section */
.featured-hero {
    text-align: center;
    padding: 4rem 2rem;
    color: #fff;
}

.featured-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 800px;
    margin: auto;
}

.featured-posts .post {
    background-color: transparent;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featured-posts .post h2 {
    margin: 1rem 0;
}

.featured-posts .post p {
    margin: 0.5rem 0;
}

.featured-posts .post .read-more {
    margin-top: 1rem;
    color: #fff;
    text-decoration: underline;
}

/* Aphorisms Button */
.aphorisms-link {
    margin-top: 2rem;
}

.aphorisms-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Aphorism Hero Section */
.aphorism-hero {
    text-align: center;
    padding: 4rem 2rem;
    color: #fff;
}

.aphorism-section {
    max-width: 800px;
    margin: auto;
}

.aphorism {
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.aphorism p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-style: italic;
    color: #f0f0f0;
    text-align: center;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.5); /* semi-transparent background */
    text-align: left;
    padding: 1rem;
    color: #fff;
}

.footer-content {
    margin-left: 1rem;
}
