/* General Styles */
body {
    background-image: url('MAinbackgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'UnifrakturMaguntia', cursive;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-y: scroll;
}

header, footer {
    padding: 1rem;
    margin: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 5px;
}

/* Main Content */
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.hero {
    text-align: center;
    margin: auto;
}

.logo h1 {
    font-size: 5rem;
    margin: 0;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero p {
    margin: 1rem 0;
    max-width: 800px;
    margin: auto;
}

.hero-buttons {
    margin-top: 1rem;
}

.hero-buttons .enter-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Aphorisms Button */
.aphorisms-link {
    margin-top: 2rem;
}

.aphorisms-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Aphorism Hero Section */
.aphorism-hero {
    text-align: center;
    padding: 4rem 2rem;
    color: #fff;
}

.aphorism-section {
    max-width: 800px;
    margin: auto;
}

.aphorism {
    margin-bottom: 1rem;
}

.aphorism p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-style: italic;
    color: #ccc;
}

/* Footer */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 5px;
}
